<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ video_name }}</title>
    </head>
    <link rel="stylesheet" href="/static/css/common.css" />
    <body>
        <header>
            <a href="/">
                <h1>Media Library</h1>
            </a>
        </header>
        <div class="container" style="display: flex; place-content: center">{% include "video-player.html" %}</div>
    </body>
</html>
